:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
    font-family: 'Open Sans', sans-serif;
}

*,::before,::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,:root {
    height: 100%;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}

.header {
    color: #FFFF;
    background: #00293941;
    padding: .5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

body * + * {
    margin-top: 1.5em;
}

.logo  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 2rem;
}

.logo-txt {
    text-transform: capitalize;
    margin-top: .4em;
    font-size: 1.2em;
}


.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

.nav-item {
    display: inline-block;
    margin-left: .5em;
    margin-top: 0;
}

.nav-link {
    font-weight: 600;
    text-decoration: none;
    color: #FFFF;
    display: block;
    margin-top: 0;
    text-transform: capitalize;
}

.nav-link:hover {
    color: #e6e6e6;
}




.hero {
    display: flex;
    align-items: center;
    padding: 0 1.5em;

    height: 100vh;
    


    position: relative;
}

.hero::before {
    content: '';
    display: block;
    background-image: linear-gradient(#25727eb2,#25727eb2), url(./assets/hero@1x.jpg);;
    filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.cta-box {
    position: relative;
    z-index: 1;
}

.hero-text {
    color: #ffffff;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 1.8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.322);
    max-width: 100%;
}

.cta-btn {
    font-size: 1em;
    background: #ec823c;
    text-transform: uppercase;
    color: #FFFF;

    border-radius: .4em;
    padding: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.322);
    transition: all .5s;
}

.cta-btn:hover {
    background: #d65702;
    transform:  translateX(10px);

}

main {
    margin-top: 0;
}


.services {
    padding-bottom: 10em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


.heading-text {
    max-width: 100%;
    font-size: 1.3em;
    color: #020202b7;
    text-transform: capitalize;
    line-height: 1.7;
}

.section-heading {
    color: #f0660b;
    padding-top: 1.5em;
    text-transform: capitalize;
    text-align: center;

}

.about-us {
    padding: 10em 1.5em;
    padding-top: .7em;
    background: #dbe2ea;


}

.newsletter {
    background: #002939;
    color: #fff;
    margin-top: 0   ;
    padding: 2em 0;
}


.newsletter .cta-btn {
    border-radius: 0 .4em  .4em 0;
}

.newsletter-input {
    margin-top: 0;
    text-align: center;
}

.newsletter-text {
    text-align: center;
    text-transform: capitalize;
}
.email-input {
    font-size: 1em;
    padding: 1.2em;
    color: #1E8EB8;
    background: #F3F3F3;
    font-weight: 700;
    border: none;
    border-radius: 1em 0  0 1em;
    outline-color: #0d6f92;
    max-width: 400px;
    width: 30%;
}

.form-icon {
    width: 100px;
}

.email-input {
    padding: 1.2em;
    color: #1E8EB8;
    background: #F3F3F3;
    font-weight: 700;
    border: none;
    border-radius: 1em 0  0 1em;
    outline-color: #0d6f92;
}

.contact-us {
    padding: 10em 1.5em;
    padding-top: .7em;
    margin-top: 0;
    background: #F3F3F3;
    text-align: center;

}

.form-container {
    max-width: 900px;
    margin: 0 auto;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input{
    padding: 1.2em;
    color: #1E8EB8;
    outline-color: #0d6f92;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: none;
    border: 1px solid #4b4b4bb9;
}
.form-message {
    outline-color: #0d6f92;
    padding-top: 1.2em;
    padding-left: 1.2em;
    border-radius: 1em;
}

.form-label {
    text-transform: capitalize;
    color: #020202b7;
    font-weight: 700;
    margin-bottom: .5em;
    text-align: left;
}

.form-icon {
    width: 100px;
    align-self: center;
}



.footer {
    margin-top: 0;
    padding: 2.5em;
    background: #011d29;
    color: #FFF;
    text-align: center;
} 


/* 478px */
@media (min-width: 29.875em) {
    :root {
        font-size: 1.2rem;
    }
    .hero-text {
        margin-top: 5em;
        max-width: 560px;
    }
}
/* 800px */
@media (min-width: 50em) {
    .logo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logo-img {
        margin-right: .5em;
    }
    .header {
        padding:  1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        margin-top: 0;
    }
    .nav {
        justify-content: center;
        align-items: center;
    }
    .nav-item + .nav-item {
        margin-left: 1.5em;
        display: block;
    }
}

/* 960px */
@media (min-width: 60em) { 
    .hero {
        justify-content: center;
    }

    .hero-text {
        margin-top: 3em;
    }

    .newsletter {
        display: flex;
        align-items: center;
        padding: 1.5em;
    }

    .newsletter .cta-btn {
        margin-top: 0;
    }
    .newsletter-input  input{
        width: 350px;
    }

    .newsletter-text {
        margin-right: auto;
    }

    .row {
        display: flex;
        align-items: center;
    }
    .row .heading-text{
        max-width: 50%;
        margin-right: 2.5em;
    }
    .row img {
        max-width: 50%;
    }
    .row-rev {
        flex-direction: row-reverse;
    }
    .row-rev .heading-text{
        margin-right: 0;
        margin-left: 2.5em;
        flex-direction: row-reverse;
    }

}
/* 1660px */
@media (min-width: 103.75em) {
    :root {
        font-size: 2em;
    }

}



